<div class="mark" ng-show = "flag1">
    <div>
    <dl>
        <dt><img src="images/unbind.png" alt=""></dt>
        <dd>
        <p>{{info}}</p>
        <p><button ng-click="sure1()" id = "btn">解除绑定</button></p>
        </dd>
    </dl>
    </div>
</div>
    <header class="cent-header info-header">
        <p class="left" ui-sref = "user"><i class="fa fa-angle-left f16"></i></p>
        <p class="center">卡信息</p>

    </header>
    <section class="info-section">
        <div class="card-img">
            <p class="img"><img src="images/card_03_03.png" alt=""></p>
            <p class="residue">余额 {{sum}}.00</p>
        </div>
        <div class="menu">
            <div class="mine" ui-sref = "bindcard">
                <span class="left">充值</span>
                <span class="right"><i class="fa fa-angle-right f16"></i></span>
            </div>
            <div class="mine" ui-sref = "pay">
                <span class="left">交易记录</span>
                <span class="right"><i class="fa fa-angle-right f16"></i></span>
            </div>
            <div class="mine" ui-sref="resetpwd">
                <span class="left">重置密码</span>
                <span class="right"><i class="fa fa-angle-right f16"></i></span>
            </div>
        </div>
        <div class="relieve" ng-click="unbind()">解除绑定</div>
    </section>
