
	<header class = "deal1-header">
		<p class="center">交易结果</p>
		<p class="right" ng-click="finish()"><i>完成</i></p>
	</header>
	<section class = "deal1_section">
		<div class = "top1">
			<dl>
				<dt>

				<img src="images/success_03.png" alt="">
				</dt>
				<dd>交易成功</dd>
			</dl>
		</div>
		<div class="bot1">
			<p>付款金额 <span class = "right bolds">￥{{price}}.00</span></p>
			<p>商品名称 <span class = "right">{{name1}}</span></p>
			<p>支付时间 <span class = "right">{{data|date:"yyyy年MM月dd日 HH:mm:ss"}}</span></p>
			<p>交易单号 <span class = "right">8e4928924924493</span></p>
		</div>
	</section>