
    <header class="cent-header">
        <p class="left"><i class="fa fa-angle-left f16"></i></p>
        <p class="center">交易详情</p>

    </header>
    <section class="detail-section">
        <div class="big">
            <div class="detail">
                <span class="left">付款金额</span>
                <span class="right size-big">￥200.00</span>
            </div>
            <p class="name">
                <span class="left">商户名称</span>
                <span class="right">元気寿司</span>
            </p>
            <p class="name">
                <span class="left">支付时间</span>
                <span class="right">2017-02-04 18:06:10</span>
            </p>
            <p class="name">
                <span class="left">交易单号</span>
                <span class="right">20170204180610000001</span>
            </p>
        </div>


    </section>