    <header class="cent-header">
        <p class="left"><i class="fa fa-angle-left f16" ui-sref = "login"></i></p>
        <p class="center">凯丹会员中心</p>
    </header>
    <section class="cent-section">
        <div class="person">
            <dl>
                <dt><img src="images/person_03.png" alt=""></dt>
                <dd>
                    <h3>{{name}}</h3>
                    <p>ID: {{IDs}}</p>
                </dd>
            </dl>
        </div>
        <div class="menu">
            <div>
                <p class="tit">积分</p>
                <p>100</p>
            </div>
            <div>
                <p class="tit">签到</p>
                <p>1</p>
            </div>
            <div class="no-bor"> 
                <p class="tit">关注店铺</p>
                <p>0</p>
            </div>
        </div>
        <div class="mine" ng-click = "go()">
            <span class="left">我的会员卡</span>
            <span class="right"><i class="fa fa-angle-right f16"></i></span>
        </div>
    </section>